---
import DialogRoot from "@components/DialogRoot/DialogRoot.astro";
import { buttonRecipe } from "@recipes/Button.recipe";
import {
  modalActionsRecipe,
  modalContainerRecipe,
  modalContentRecipe,
} from "@recipes/Modal.recipe";
import type { tagTable } from "@server/db";
import { actions } from "astro:actions";
import type { InferSelectModel } from "drizzle-orm";

export type Props = {
  tag: InferSelectModel<typeof tagTable>;
};

const { tag } = Astro.props;
---

<li>
  <span>{tag.name}</span>
  <DialogRoot>
    <button
      data-dialog-trigger
      type="button"
      class={buttonRecipe({ color: "error", size: "sm" })}
    >
      Delete
    </button>
    <dialog class={modalContainerRecipe()}>
      <div class={modalContentRecipe()}>
        <p>Delete tag {tag.name}?</p>
        <footer class={modalActionsRecipe()}>
          <form method="dialog">
            <button class={buttonRecipe()}>Close</button>
          </form>
          <form method="POST" action={actions.deleteTag}>
            <input name="tagId" value={tag.id} type="hidden" />
            <button class={buttonRecipe({ size: "sm", color: "error" })}>
              Submit
            </button>
          </form>
        </footer>
      </div>
    </dialog>
  </DialogRoot>
</li>
