---
import Layout from "@layouts/Layout.astro";
import { buttonRecipe } from "@recipes/Button.recipe";
import { formControlRecipe } from "@recipes/FormControl.recipe";
import { labelRecipe, labelTextRecipe } from "@recipes/Label.recipe";
import { textFieldRecipe } from "@recipes/TextField.recipe";
---

<Layout title="Test">
  <form method="post" action="/share-target" class="flex flex-col gap-4">
    <label class={formControlRecipe()}>
      <div class={labelRecipe()}>
        <span class={labelTextRecipe()}>Title</span>
      </div>
      <input
        class={textFieldRecipe({ variant: "bordered", size: "sm" })}
        type="text"
        name="title"
        required
      />
    </label>

    <label class={formControlRecipe()}>
      <div class={labelRecipe()}>
        <span class={labelTextRecipe()}>Text</span>
      </div>
      <input
        class={textFieldRecipe({ variant: "bordered", size: "sm" })}
        type="text"
        name="text"
        required
      />
    </label>

    <label class={formControlRecipe()}>
      <div class={labelRecipe()}>
        <span class={labelTextRecipe()}>Url</span>
      </div>
      <input
        class={textFieldRecipe({ variant: "bordered", size: "sm" })}
        type="url"
        name="url"
        required
      />
    </label>

    <button class={buttonRecipe()} type="submit">Submit</button>
  </form>
</Layout>
